[submodule "SDL2"]
	path = external/SDL2
	url = https://github.com/spurious/SDL-mirror.git
	branch = release-2.0.5
[submodule "sdl-gpu"]
	path = external/sdl-gpu
	url = https://github.com/grimfang4/sdl-gpu.git
[submodule "SDL_ttf"]
	path = external/SDL_ttf
	url = https://github.com/flowkey/SDL_ttf-mirror.git
